.homePageContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
  
}
.introductionWrapper{
   background-image: url("https://wallpaperaccess.com/full/6798923.jpg");
   width: 100%;
   height: 100vh;
   background-size:cover ;
   color:#fff;
   display: flex;
   justify-content:center;
   align-items: center;
}
.introduction{
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-style: italic;
}

.introductionDescription{
    color:#fff;
    margin-top: 10vw;
    animation: desc_anim 1s forwards;
    width: 70%;
}
@keyframes desc_anim {
	0%{
		width:50%;
	}
	100%{
		width:  100%;
	}
}

.episodeWrapper{
    height: 100vh;
    width: 100%;
    background-image: url("https://images6.alphacoders.com/909/thumb-1920-909641.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.characterWrapper{
    height:100vh;
    width: 100%;
    background-image: url("https://images7.alphacoders.com/633/633262.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
